:global {
  /* @import "../../node_modules/normalize.css/normalize.css"; */

  html {
    /* font-family: "Comic Sans MS";
    font-size: 18px;
    box-sizing: border-box; */
  }

  body {
    box-sizing: border-box;
    padding: 1rem;
    background-image: url("../assets/money.jpg");
  }
}
