.person {
  margin: 1rem 0;
  padding: 1rem;
  border: 8px solid rgba(0, 0, 0, 1);
  border-radius: 8px;
}

.male {
  background: rgba(200, 200, 255, 1);
}

.female {
  background: rgba(255, 200, 200, 1);
}
